body {
  background: #faf8f0;
  font-family: "Georgia";
}

input, textarea {
  outline-color: #c9c099;
}

input[type='search'] {
  outline: none;
}

a          { color: #06b }
a:visited  { color: #537 }

a.dashed, a.dashed:visited  { color: #06b; border-color: #06b }

h1, h2, h3 { 
  font-family: "Helverica", "Arial", sans-serif;
  color: #320;
}


.rss-link {
  font-family: "Helverica", "Arial", sans-serif;
}

.keyboard-shortcut,
.submit-box,
.sidebar,
.tags-filter-slide-area {
  background: #ece8d8;
  border: 1px solid;
  border-color: #dbd4b8 #ece8d8 #fff;
}

.top-line, .bottom-line {
  border-top: 1px #dbd4b8 solid;
  border-bottom: 1px #fff solid;
}

.tags-filter-slide-shaft {
  border-top-color: #613808;
}

.sidebar {
  background: #ece8d8;
  float: left;
  margin-top: 1.4em;
  margin-left: 2%;
  margin-right: 1%;
  padding-top: .7em;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  border-radius: 8px;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
}

.blog-title-and-description h1,
.blog-title-and-description h1 a,
.sidebar h2 a,
.main-content h2,
.main-content h3,
.note h1,
.note h1 a,
.note h2,
.comments-heading {
  color: #320;
  text-shadow: 0 1px 0 #fff;
}

.note .comments-link {
  font-family: "Helverica", "Arial", sans-serif;
}

.reply .comment-content-area {
  background: #ece8d8;
  border: 1px solid;
  border-color: #dbd4b8 #ece8d8 #fff;
}

.reply .comment-meta-area,
.reply .comment-control-area {
  border-top-color: #faf8f0;
}


.engine-info,
.engine-info a { color: #aaa8a0; }

.e2-marked {
  background: #e5cfef;
}

